parameters:
  exceptions:
    App\Exception\RequestDecodeException: { code: 400 }
    Symfony\Component\Messenger\Exception\ExceptionInterface: { code: 500, loggable: true }

services:
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    bind:
      bool $isDebug: "%kernel.debug%"

  App\:
    resource: '../src/'
  Symfony\Component\Serializer\Normalizer\ObjectNormalizer:
    arguments:
      $classMetadataFactory: '@serializer.mapping.class_metadata_factory'
      $nameConverter: null
      $propertyTypeExtractor: '@property_info'
      $propertyAccessor: '@property_accessor'

  Symfony\Component\Serializer\Normalizer\BackedEnumNormalizer:
    tags: [ serializer.normalizer ]

  App\ExceptionResolver\ExceptionResolver:
    arguments: [ '%exceptions%' ]
  App\EventListener\ApiExceptionListener:
    public: true
    autowire: true
    autoconfigure: false
    tags:
      - { name: kernel.event_listener, event: kernel.exception, priority: 10 }

  App\EventListener\ValidationExceptionListener:
    public: true
    tags:
      - { name: kernel.event_listener, event: kernel.exception, priority: 15 }

